/* .rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
}

.rating>.star {
    display: inline-block;
    position: relative;
    width: 1.1em;
    color: green;
}

.rating>.star:hover,
.rating>.star:hover~.star {
    color: transparent;
}

.rating>.star:hover:before,
.rating>.star:hover~.star:before {
    content: "\2605";
    position: absolute;
    left: 0;
    color: gold;
} */

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
}

.rating>span {
    display: inline-block;
    position: relative;
    width: 1.1em;
}

.rating>span:hover:before,
.rating>span:hover~span:before {
    content: "\2605";
    position: absolute;
}