<!-- This is for showing HTTP exception. -->

{% extends "layout.html" %}

{% block head %}
    <style>
        .message_container {
            display: block;
            width: 70%;
            padding-bottom: 150px;
            padding-top: 30px;
            margin: 0 auto;
        }

        {########################################################################
        Remove the instruction about typing URL to do some functions. Not encourage people to make a query by typing specific URL.
        The below css is for the removed part.
        ########################################################################}
        /*li {
            text-align: left;
            padding: 2px;
        }

        code {
            color: #FF1493;
            background-color: #D3D3D3;
        }

        li.name_search_li {
            list-style: none;
        }*/


        /* the font size of the exception description */
        .message_container h2 {
            font-size: 2.3em;
        }

    </style>
{% endblock %}


{% block center %}
    <div class="message_container">
        <h2>{{ e }}</h2>
        {% if status404 == 1 %}
            {########################################################################
            Remove the instruction about typing URL to do some functions. Not encourage people to make a query by typing specific URL.
            ########################################################################}
            {#<p>#}
            {#<h1>Note</h1>#}
            {#<a>#}
            {#    If you typed the URL manually to do the following things, please ensure whether you follow the correct#}
            {#    usage. ("~" means the url of home page.)#}
            {#    <ul>#}
            {#        <li>Searching for games by name directly:&nbsp;<code>"~/directly_search_name/" + keyword</code></li>#}
            {#        <li>Search for the information of a game:&nbsp;<code>"~/game_info/" + the board-game name</code>#}
            {#        </li>#}
            {#        <li>Rate a game:&nbsp;<code>~/rate/ + the board-game name + "/" + the score you give it</code></li>#}
            {#    </ul>#}
            {#</a>#}
            {#<a>If you get 404 Not Found after you filled the upper-right form and submited, please ensure you didn't#}
            {#    type only slash(es) and space(s).</a>#}
            {#<a>Please don't use a <code>\</code> or a <code>?</code> in your keyword. Backslashes in the will be turned#}
            {#    into slash.</a>#}
            {#<a>For some technical reasons, please avoid using special characters in your keyword.</a>#}
            {#</p>#}
        {% endif %}
    </div>
{% endblock %}