html {
    height: 100%;
    width: 100%;
}

header {
    background-color: #F2DFA7;
    /* color: #A67951; */
    /* color: rgb(47, 79, 79); */
    /* color: black; */
    color: #242330;
    /* display: block; */
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    margin: 0;
    text-decoration: none;
    /* border-bottom: 1px solid #A67951; */
    /* border-bottom: 1px solid #A67951; */
    /* padding: 5px; */
    /* margin: 0; */
    width: 100%;
    /* height: 11%; */
    /* width: 100%;
     height: 5%;*/
    /* position: absolute; */
    top: 0px;
    /* left: 0px;
    right: 0px;
    font-size: 1em; */
}

header.h1 {
    display: inline-flex;
    align-items: flex-start;
    /* width: 30%; */
    min-width: 300px;
}

header.p {
    display: flex;
    justify-content: space-between;
}

#header_text {
    margin: 0;
    display: inline-flex;
}


/* a:hover {
    color: #A67951;
    text-decoration: transparent;
}

a:visited {
    text-decoration: none;
    color: rgb(47, 79, 79);
} */

#searchName_frame {
    /* display: inline-block; */
    /* float: right; */
    /* clear: right; */
    width: 200px;
    height: 90px;
    display: flex;
    align-self: right;
    font-size: 15px;
}

.searchName_label_input {
    width: 100%;
    display: flex;
    position: relative;
}

#searchName {
    display: flex;
    width: 96%;
    height: 22px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
}

#btn_searchName {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 22px;
}

body {
    font-size: 15px;
    font-family: "Helvetica", "Arial", "LiHei Pro", "黑體-繁", "微軟正黑體", sans-serif;
    /*background-color: wheat;*/
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

nav {
    background-color: #A67951;
    /* background-color: #262626; */
    /* border: 1px solid#333 #A67951; */
    color: #fff;
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
    overflow: hidden;
    /* width: 100%; */
    height: 5%;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

nav ul li {
    margin: 0;
    /* display: inline-block; */
    display: inline-flex;
    list-style-type: none;
    transition: all 0.2s;
}

nav>ul>li>a {
    color: /*#aaa*/
    white;
    display: inline-flex;
    line-height: 2em;
    padding: 0.5em 2em;
    text-decoration: none;
}

footer {
    /*background-color: #A67951;*/
    /*border: 1px solid #A67951;*/
    color: black;
    text-align: center;
    /* display: flex; */
    /* margin: 100px 0 0 0; */
    overflow: hidden;
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    position: fixed;
    /*float: bottom;*/
}

article {
    height: 300px;
    text-align: center;
}