div#info>h1 {
    font-size: 4em;
    margin-bottom: 0;
}

div#info_detail>p {
    font-size: 2em;
    text-align: left;
    overflow-wrap: break-word;
}

div#info_detail {
    max-width: 700px;
    background-color: #F2D1CE;
    padding-top: 10px;
    padding-bottom: 15px;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

#rating_detail {
    font-size: 4em;
}

#rating_stars {
    color: orange;
    font-size: 8em;
    padding: 0;
    margin: 0;
}

.rating_number {
    unicode-bidi: bidi-override;
    direction: rtl;
    font-size: 2em;
    text-align: center;
}

.rating_number>span {
    display: inline-block;
    position: relative;
    width: 1.1em;
}

.rating_number>span:hover:before,
.rating_number>span:hover~span:before {
    content: "\2605";
    position: absolute;
    color: gold;
    opacity: 0.8;
}

#rate {
    margin-bottom: 50px;
}

div#rate>h1 {
    margin-bottom: 10px;
}