#centerIMG {
    /* max-height: 100%;*/
    width: 90%;
    max-width: 700px;
    /*height: auto; */
    /* position: absolute; */
    display: flex;
    top: 0;
    /*bottom: 0;
    left: 0; 
    right: 0;*/
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
    justify-content: center;
    align-items: center;
    opacity: 0.92;
}

center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#center_container {
    max-width: 900px;
    width: 80%;
    /* height: 100%; */
    background-color: #F2DFA7;
    opacity: 0.95;
}