html {
    /* height: 100%; */
    width: 100%;
    min-height: 100%;
}

nav {
    background-color: #A67951;
    /* background-color: #262626; */
    /* border: 1px solid#333 #A67951; */
    color: #fff;
    display: flex;
    /* flex-wrap: nowrap; */
    margin: 0;
    overflow: hidden;
    width: 100%;
    /* height: 45px; */
    /* min-height: 45px; */
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    /* display: flex;
    flex-wrap: wrap; */
}

nav ul li {
    margin: 0;
    /* display: inline-block; */
    display: inline-flex;
    list-style-type: none;
    transition: all 0.2s;
}

nav>ul>li>a,
nav.toggle-nav {
    color: /*#aaa*/
    white;
    /* display: inline-flex; */
    line-height: 2em;
    padding: 0.5em 2em;
    text-decoration: none;
}

.toggle-nav {
    display: none;
}

@media screen and (max-width:600px) {
    nav {
        background-color: #A67951;
        color: #fff;
        position: relative;
        display: inline-block;
        width: 100%;
        min-height: 45px;
        /* height: 40px; */
    }
    .toggle-nav {
        /* display: block; */
        position: absolute;
        left: 5%;
        color: white;
        text-decoration: none;
        line-height: 40px;
        height: 45px;
        width: 200px;
    }
    nav ul.active {
        display: none;
    }
    nav ul {
        /* margin: 0; */
        left: 0px;
        padding: 10px 25px;
        /* width: 100%; */
        /* height: 100px; */
        /* display: none; */
        /* columns: 1;
            -webkit-columns: 1;
            -moz-columns: 1; */
        /* display: flex; */
        /* flex-wrap: wrap; */
    }
    ul {
        display: block;
        float: none;
    }
    /* nav ul li {
            margin: 0; */
    /* display: inline-block; */
    /* display: inline-flex; */
    /* list-style-type: none; */
    /* display: block;
            float: none;
            text-align: center; */
    /* height: 40px;
            width: 100%; */
    /* transition: all 0.2s; */
    /* } */
    nav li a {
        /* width: 100%; */
        float: none;
        display: block;
        /* height: 40px; */
        /* height: 200px; */
        /* text-align: center; */
        /* margin: 10px 0px 10px 0px; */
    }
    nav a {
        color: white;
        /* display: inline-flex; */
        display: block;
        /* height: 40px; */
        /* width: 100%; */
        /* line-height: 40px; */
        /*padding: 0.5em 2em; */
        /* text-decoration: none; */
    }
}

@media screen and (max-width:514) {
    div#header_text header.h1 {
        font-size: 1.5em;
    }
    #header_text {
        display: block;
    }
    #searchName_frame {
        display: block;
    }
}