{% extends "layout.html" %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/statistics_single_page.css') }}"/>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function () {
            let statistics_picture_target = $('.statistics_picture')
            statistics_picture_target.attr("src", statistics_picture_target.attr("alt"));
        })
    </script>
{% endblock %}

{% block center %}
    <div class="pic_frame">
        <img class="statistics_picture" src="#" alt="{{ img_url }}">
    </div>
{% endblock %}