#title {
    /* width: 400px;
    height: 45px;
    padding: 45px; */
    /* position: absolute; */
    /* left: 50%; */
    /* top: 30%; */
    /* margin-left: -200px;
    margin-top: -80px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    max-width: 50%;
}

#title.p {
    overflow: visible;
}

.frame {
    height: 80%;
    /* width: 100%; */
    min-width: 50%;
    justify-content: center;
    flex-direction: row;
    display: flex;
    align-items: flex-start;
}


/* center {
    align-items: flex-start;
} */

#login_frame {
    width: 400px;
    height: 274px;
    /* width: 50%;
    height: 20%; */
    padding: 5px;
    /* position: absolute; */
    /* left: 50%; */
    margin: auto;
    /*top: 45%; */
    /* margin-left: -200px;
    margin-top: -150px; */
    /*background-color: rgba(255, 199, 242, 1);*/
    background-color: #F2DFA7;
    border-radius: 13px;
    text-align: center;
    display: inline-flex;
    align-self: center;
    align-items: center;
}

#login_frame.container {
    display: inline-flex;
    align-items: center;
}

form p>* {
    display: inline-block;
    vertical-align: middle;
}

#sub_frame {
    padding-bottom: 120px;
}


/*
    #image_logo {
    margin-top: 22px;
    }
    */

.label_input {
    font-size: 18px;
    width: 200px;
    height: 30px;
    line-height: 28px;
    text-align: center;
    color: white;
    background-color: /*#A67951*/
    rgba(166, 121, 81, 0.7);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.text_field {
    cursor: context-menu;
    width: 278px;
    height: 30px;
    /* border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; */
    /* border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; */
    border: 0;
    background-color: white;
    text-align: center;
    /* vertical-align: bottom; */
}

#title.h1 {
    color: rgb(47, 79, 79);
    left: 20%;
    top: 20%;
}

#sub_frame>h3 {
    top: 100px;
    /* color: rgb(119, 136, 153); */
    align-items: center;
    /* justify-content: center; */
}

h3 {
    color: rgb(119, 136, 153);
}

#btn_sub {
    cursor: pointer;
    font-size: 18px;
    width: 130px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: white;
    /* background-color: rgba(77, 155, 219, 0.596); */
    background-color: #91BFE9;
    border-radius: 6px;
    border: 0;
    float: center;
    margin: auto;
}

#forget_pwd {
    font-size: 16px;
    /* color: white; */
    color: #A67951;
    text-decoration: none;
    position: relative;
    float: right;
    top: 5px;
    /* -webkit-text-stroke: 0.01em; */
    /* -webkit-text-fill-color: white; */
}

#forget_pwd:hover {
    /* color: blue; */
    color: white;
    text-decoration: underline;
}

#login_control {
    padding: 0 28px;
}

@media screen and (max-width: 514px) {
    #login_frame {
        /* background-color: transparent; */
        width: 87%;
    }
    #numPeople,
    #gameTime,
    #gameCategory {
        border-width: 3px;
        /* border-style: dashed;
        border-color: #FFAC55; */
        padding: 3px;
        width: 75%;
    }
    /* #searchName.text_field {
         width: %; 
    } */
}