table {
    border-collapse: collapse;
    width: 90%;
    max-width: 700px;
    overflow: scroll;
}

table tr td {
    /* border: 1px solid black; */
    border: 3px white dashed;
    border-radius: 0.3px;
}

td {
    text-align: left;
}

th {
    text-align: center;
}

th.empty_th {
    display: none;
}

.td_row:hover {
    cursor: pointer;
    background-color: #F2D1CE;
}

#name_row {
    max-width: 150px;
}

#year_published_row {
    max-width: 30px;
}

#category_row {
    max-width: 280px;
    overflow-wrap: break-word;
}

#players_row {
    max-width: 40px;
}

#playtime_row {
    max-width: 40px;
}

#age_row {
    max-width: 30px;
}

#rating_round_row {
    max-width: 50px;
}

#number_of_rating_row {
    max-width: 50px;
}

#myTable {
    /* padding: 100px; */
    /* padding-bottom: 200px; */
    margin-bottom: 20px;
    max-width: 670px;
    overflow-wrap: break-word;

    display: inline;
    /*    position: absolute;*/
    /*left: 50%;*/
    /*transform: translateX(-50%);*/
}

table#myTable td {
    text-align: center;
}

#center_container > h1, #center_container >h3{
    text-align: center;
}


/* 150 300 60 60 50 50 */


/* td {
    overflow: auto;
} */

@media screen and (max-width:800px) {
    #category_row,
    #players_row,
    #playtime_row,
    #rating_round_row,
    #num_of_rating_row,
    #number_of_rating_row,
    #age_row,
    #Players_th,
    #Playtime_th,
    #year_published_row,
    .filter_search_name_th,
    .Year_Published_th,
    .Category_th,
    .Players_th,
    .Playtime_th,
    .Age_th,
    .Rating_th,
    .number_of_rating_th,
    .Number_of_rating_th {
        display: none;
    }
}