<!--------------------------------------------
This is the template of all pages.
It is extended to other html templates.
Rendered by Jinja2 template engine.

P.S.
"{# #}" means it's a comment in Jinja2 template engine.
--------------------------------------------->

<!-- the use of macro -->
{% from "macro/layout.html" import directly_search_name_form %}
<!---->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Board-Game-Center: Your Intelligent Board-Game Assistant!</title>

    <!-- favicon -->
    <link rel="shortcut icon" type="image/svg" href="{{ url_for('static', filename='IMG/favicon.svg') }}">
    <!---->

    <!-- This block is for adding additional head options exclusive of stylesheets and scripts. -->
    {% block head %}{% endblock %}
    <!---->

    <!-- stylesheets for all pages -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/all_pages.css') }}"/>
    <!---->

    <!-- This block is for adding additional stylesheets. -->
    {% block stylesheet %}{% endblock %}
    <!---->

</head>
<body>

<!--header-->
<header>

    <!-- Website Name -->
    <div id="header_text">
        <h1><a id="home_link_text" href="/home">Board-Game-Center</a></h1>
    </div>
    <!---->

    <!-- Right Top Corner Name Search Area -->
    {{ directly_search_name_form(False,'searchName_frame_inUpperRight','','Search games directly?','searchName','btn_searchName') }}
    <!---->

</header>

<!--nav-->
<nav>
    <!-- RWD menu reference: https://weiupward.com/rwd%E7%9A%84menu%E9%81%B8%E5%96%AE%E7%B0%A1%E5%96%AE%E4%B8%8A%E6%89%8B/ -->

    <!-- Navbar's menu btn. It'll appear if the viewport width is in a specific range. -->
    <a id="menu_btn" class="toggle-nav" href="#">&#9776;</a>
    <!---->

    <!-- Navbar links -->
    <ul id="menu_ul" class="active">
        {% for href, name in [
        ['/','Home'],
        ['https://github.com/LiaoWC/db_33_boardgame','Github'],
        ['/statistics','Statistics'],
        ['/search_filters','Find board-games suitable for you!']
        ] %}
            <li><a href="{{ href }}">{{ name }}</a></li>
        {% endfor %}
    </ul>
    <!---->


    <!-- Name Search Area in Navbar -->
    {{ directly_search_name_form(True,"searchNameFrame_inNav","searchName_label_input_inNav","Search games:","searchName_inNav","btn_searchName_inNav") }}
    <!---->

</nav>

<section class="center_outer">
    <div id="center" class="center_center">
        <!-- Arrange center area -->
        {% block center %}{% endblock %}
        <!---->
    </div>
</section>

<!--loader-->
<!-- reference: https://www.w3schools.com/howto/howto_css_loader.asp -->
<div class="loader_container">
    <div class="loader" id="loader"></div>
</div>

<!--------- Javascript ---------->

<!-- JQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!---->

<!-- the script of all pages -->
<script type="text/javascript" src="{{ url_for('static', filename='JS/js.js') }}"></script>
<!---->

<!-- This block is for additional scripts -->
{% block script %}{% endblock %}
<!---->

<!------------------------------------>
</body>
</html>



















