<!--------------------------------------------
This is the template of all pages.
It is extended to other html templates.
Rendered by Jinja2 template engine.

P.S.
"{# #}" means it's a comment in Jinja2 template engine.
--------------------------------------------->
{% from "macro/layout.html" import directly_search_name_form %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Board-Game-Center: Your Intelligent Board-Game Assistant!</title>

    <!-- favicon -->
    <link rel="shortcut icon" type="image/svg" href="{{ url_for('static', filename='IMG/favicon.svg') }}">
    <!---->

    <!-- This block is for adding additional head options exclusive of stylesheets and scripts. -->
    {% block head %}{% endblock %}
    <!---->

    <!-- stylesheets for all pages -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/all_pages.css') }}"/>
    <!---->

    <!-- This block is for adding additional stylesheets. -->
    {% block stylesheet %}{% endblock %}
    <!---->

</head>
<body>

<!--header-->
<header>

    <!-- Website Name -->
    <div id="header_text">
        <h1><a id="home_link_text" href="/home">Board-Game-Center</a></h1>
    </div>
    <!---->

    <!-- Right Top Corner Name Search Area -->
    <div class="searchName_frame" id="searchName_frame_inUpperRight">
        {{ directly_search_name_form('','Search games directly?','searchName','btn_searchName') }}
    </div>
    <!---->

</header>

<!--nav-->
<nav>
    <!-- Navbar's menu btn. It'll appear if the viewport width is in a specific range. -->
    <a id="menu_btn" class="toggle-nav" href="#">&#9776;</a>
    <!---->

    <!-- Navbar links -->
    <ul id="menu_ul" class="active">
        {% for href, name in [
        ['/','Home'],
        ['/statistics','Statistics'],
        ['/search_filters','Find board-games suitable for you!']
        ] %}
            <li><a href="{{ href }}">{{ name }}</a></li>
        {% endfor %}
    </ul>
    <!---->


    <!-- Name Search Area in Navbar -->
    <div class="searchName_frame active" id="searchNameFrame_inNav">
        {{ directly_search_name_form("searchName_label_input_inNav","Search games:","searchName_inNav","btn_searchName_inNav") }}
    </div>
    <!---->

</nav>

<section id="center">
    <!-- Arrange center area -->
    {% block center %}{% endblock %}
    <!---->
</section>

<!--footer-->
<footer>
    < group-33 >
    <p>
        <a href="https://github.com/LiaoWC/db_33_boardgame" target="_blank"><img
                src="{{ url_for('static', filename='IMG/github.png') }}" class="footer_icon" alt="Github"></a>
        <a href="https://www.notion.so/4-28-33-Proposal-98066f91128548558ba1c60a31788b5a" target="_blank"><img
                src="{{ url_for('static', filename='IMG/notion.png') }}" class="footer_icon" alt="Notion"></a>
        <a href="/source"><img src="{{ url_for('static', filename='IMG/icons8-love-100.png') }}" class="footer_icon"
                               alt="Source and Credit"></a>
    </p>
</footer>
<!--loader-->
<div class="loader_container">
    <div class="loader" id="loader"></div>
</div>

<!--------- Javascript ---------->

<!-- JQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!---->

<!-- the script of all pages -->
<script type="text/javascript" src="{{ url_for('static', filename='JS/js.js') }}"></script>
<!---->

<!-- This block is for additional scripts -->
{% block script %}{% endblock %}
<!---->

<!------------------------------------>
</body>
</html>



















