{% extends "layout.html" %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/statistics_home.css') }}">
{% endblock %}

{% block center %}
<div class="stat_home_container">
    <a class="link_stat" href="/statistics/category_to_time">category_to_time</a><br/>
    <a class="stat_pic_instr">Show the average playing time of categories with top 15 ratings.</a><br/></div>
<div class="stat_home_container">
    <a class="link_stat" href="/statistics/circulation_to_publishedyear">circulation_to_publishedyear</a><br/>
    <a class="stat_pic_instr">Show the circulation of the categories with top 15 ratings in different eras.</a><br/>
</div>
<div>
    <a class="link_stat" id="stat_category_to_rating" href="/statistics/category_to_rating">category_to_rating</a><br/>
    <a class="stat_pic_instr">Show the ratings of categories with top 15 ratings.</a></div>
<script src="{{ url_for('static', filename='JS/statistics.js') }}" type="text/javascript"></script>
{% endblock %}